/* The Discussion header */

#discussions {
  position: fixed;
  top: 0px;
  left: 5px;
  right: 5px;
  z-index: 5;
  background-color: #bef200;
  color: #004343;
}


/* The Discussion header */
.discussionHeader {
  padding-left: 0.5em;
  background-color: #bef200;
  position: relative;
}

.discussionContents {
  padding: 0px;
  border-left: 2px solid #bef200;
  border-right: 2px solid #bef200;
  border-bottom: 2px solid #bef200;
}

span.discussionCreator {
  font-weight: bold;
}

.notebookTabs {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.notebookInactive {
  padding: 4px;
}

.notebookInactive A {
  color: #ffffff;
}

.notebookActive {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  background-color: #FFFFFF;
}

.notebookActive A {
  color: #000000;
}

.discussionTitleForm {
  display: inline;
  margin-left: 1.5em;
}


/* Chat */

.chatwindow {
  overflow: auto;
  height: 20em;
  border: 0px;
  color: Black;
  background-color: White;
}

.chatsubscribers {
  font-style: italic;
}

.chatWindowEntry {
  padding: 4px;
  width: 100%;
  position: relative;
}

/* This is really hacky */
.chatWindowInput {
  right: 9px;
  left: 40px;
  position: absolute;
}

div.chatwindow table td {
  padding: 0px 4px 0px 4px;
}

td.chatcontent {
  width: 100%;
}

td.chatauthorByMe {
  text-align: right;
}

a.chataction img {
  border: 0px;
}

span.chatauthor {
  font-weight: bold;
}

span.chatauthorByMe {
  font-weight: bold;
  color: #44f;
}

span.chatauthorToMe {
  font-weight: bold;
  color: #ffaa00;
}

span.chatauthorFromMe {
  font-weight: bold;
  color: #aa00aa;
}

span.chatdate {
  color: gray;
}

span.boldText {
  font-weight: bold;
}

span.underlinedText {
  text-decoration: underline;
}

/* Whiteboard */


div.yarrrNotification {
  color: #FF0000;
  border: 1px solid;
  margin: 6px;
}

div.yarrrLoginNotification {
  color: #FF0000;
  border: 1px solid;
  margin: 6px;
}

div.yarrrPresentPerson {
  font-weight: bold;
}

.yarrrTextPopup {
	background-color: 	rgb(60,60,60);
	-moz-border-radius: 	.5em;
	font-size: 150%;
	position:	fixed;
	left:							5%;
	padding:					2px 5px 2px 5px;
	margin-top:				5px;
	z-index:						4;
	width:						75%;
}

.yarrrPopupName {
	color:						red;
	font-weight:				bold;
}

.yarrrPopupLine {
	color:						white;
}

.yarrrPresentPerson {
  font-style: italic;
}
