/* Document wide styles */

body {
  margin: 0px;
  background-color: #FFFFFF;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 12px;
  margin : 0;
}

/* Sidebar  */

#sidebar {
  position: absolute;
  width: 23%;
  height: 100%;
  background-color: #8faccf;
  padding: 6px;
  border-right: 2px;
  border-right-color: #63778f;
  border-right-style: solid;
}

#sidebar h1 {
  color: #ffffff;
  font-size: 16px;
}

#sidebar .unimportant {
  color: #000000;
}

#sidebar h2 {
  color: #000;
  font-size: 12px;
}

#authorName {
  width: 4em;
  margin-left: 12px;
  margin-right: 6px;
}

#registeredStatus {
  margin-left: 36px;
}

/* Statements */

.statement {
  color: #fff;
}

.statementAuthor {
  color: #000;
  font-weight: bold;
}

/* Present people */

#people {
  clear: left;
}

.peopleList {
  color: #ffffff;
}

/* Discussion Area */

#topiccontents {
  position: absolute;
  left: 25%;
  right: 0px;
  padding: 12px;
}

.discussion {
  margin-bottom: 36px;
}

/* The Discussion header */
.discussionHeader {
  padding: 4px;
  background-color: #8faccf;
  position: relative;
}

.discussionContents {
  padding: 0px;
  border-left: 2px solid #8faccf;
  border-right: 2px solid #8faccf;
  border-bottom: 2px solid #8faccf;
}

span.discussionCreator {
  font-weight: bold;
}

.notebookTabs {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.notebookInactive {
  padding: 4px;
}

.notebookInactive A {
  color: #ffffff;
}

.notebookActive {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  background-color: #FFFFFF;
}

.notebookActive A {
  color: #000000;
}

.discussionTitleForm {
  display: inline;
  margin-left: 1.5em;
}

/* Comments */

.commentarea {
  height: 150px;
  color: #464646;
  background-color: #ececec;
  border: 0px;
  width: 100%;
}

.comment {
  position: relative;
  margin-bottom: 12px;
  width: 90%;
  left: 5%;
}

span.commentauthor {
  font-style: italic;
}

span.commentopener {
  font-weight: bold;
}

/* Closed Comments */

#closedcomments table {
  margin-bottom: 36px;
}

span.closedcommentcloser {
  font-weight: bold;
}

span.closedcommentdiscussion {
  font-style: italic;
  font-size: smaller;
}

span.closedcommentdate {
  color: gray;
}

.closedcommentbutton {
  display: inline;
}

.ClosedCommentChatLogLink {
  margin-left: 1.5em;
  font-size: smaller;
}

pre.closedcommentcontent {
  border-style: solid;
  border: 1px;
  font-family: monospace;
  
  /* Browser specific (not valid) styles to make preformatted text wrap */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

span.closedcommentproponent {
  margin-top: 1em;
  font-style: italic;
}

/* Chat */

.discussionChat {
  height: 300px;
}

.chatwindow {
  overflow: auto;
  height: 82%;
  border: 0px;
}

.chatsubscribers {
  font-style: italic;
}

.chatWindowEntry {
  height: 18%;
  width: 98%;
  position: relative;
  margin-left: 1%;
  margin-right 1%;
}

/* This is really hacky */
.chatWindowInput {
  right: 4px;
  left: 40px;
  position: absolute;
}


/* FIXME: the log windows aren't actually modified here.
 * Update setupInitialText in topic.js
.logWindow {
  overflow: auto;
  height: 300px;
  border: 1px solid #f0f0f0;
}
*/

div.chatwindow table td {
  padding: 0px 4px 0px 4px;
}

div.chatwindow table {
  width: 99%;
}

td.chatcontent {
  width: 100%;
}

td.chatauthorByMe {
  text-align: right;
}

a.chataction img {
  border: 0px;
}

span.chatauthor {
  font-weight: bold;
}

span.chatauthorByMe {
  font-weight: bold;
  color: #44f;
}

span.chatauthorToMe {
  font-weight: bold;
  color: #ffaa00;
}

span.chatauthorFromMe {
  font-weight: bold;
  color: #aa00aa;
}

span.chatdate {
  color: gray;
}

span.boldText {
  font-weight: bold;
}

span.underlinedText {
  text-decoration: underline;
}

/* Whiteboard */

.whiteboardThumbnailImage {
  border: 1px solid #8faccf;
}

span.whiteboardThumbnailImageHolder {
  padding-left: 	2px;
  padding-right: 	2px;
  padding-top: 	2px;
  padding-bottom: 2px;
  display: inline;
}

.whiteboardEditor {
  border: 3px solid #f0f0f0;
}

div.whiteboardsPane {
  padding: 20px;
  height: 260px;
}

div.discussionWhiteboards {
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline;
}

.whiteboardThumbnailImage {
  margin: 6px;
}

/* Topic list */

.InactiveTopicSummaryTitle {
  color: gray;
  font-size: larger;
}

.ActiveTopicSummaryTitle {
  font-size: larger;
}
