#topicsidebar {
	float: left;
	background-color: #b4c994;
	width: 20%;
	height: 100%;
	padding: 12px;
}

#topicsidebar h3 {
	padding: 6px;
	background-color: #849964;
	margin-bottom: 0;
}

#topicsidebar div.sidebarbox {
	padding: 12px;
	border: 1px solid #849964;
	margin-bottom: 24px;
}

#topictitle {
	padding-bottom: 20px;
}

#topiccontents {
	float: right;
	width: 74%;
}

#maintitle {
  font-size: 24px;
  color: #000000;
}

p.statementText {
  clear: right;
}

p.statementSubscribers {
  float: left;
  font-weight: bold;
  margin-right: 12;
}

span.statementAuthor {
	border: 1px dotted black;
	padding: 1px;
}

#statementMeToo {
	clear: left;
}

span.topicCreator {
}

span.topicCreationDate {
  color: gray;
}

#authorNameForm {
}

#presentpersons {
}

span.presentperson {
  color: #FF0000;
}

span.discussionCreator {
  font-weight: bold;
}

.discussionTitleForm {
  display: inline;
  margin-left: 1.5em;
}

.commentarea {
	width: 80%;
	height: 150px;
}

span.commentauthor {
  font-style: italic;
}

span.commentopener {
  font-weight: bold;
}

span.closedcommentcloser {
  font-weight: bold;
}

span.closedcommentdiscussion {
  font-style: italic;
}

span.closedcommentdate {
	color: gray;
}

.closedcommentbutton {
  float: right;
}

div.closedcomment {
  border: 1px solid #f0f0f0;
  margin-bottom: 1em;
}

pre.closedcommentcontent {
  border-style: groove;
  font-family: monospace;
  
  /* Browser specific (not valid) styles to make preformatted text wrap */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

span.closedcommentproponent {
  margin-top: 1em;
  font-style: italic;
}

.chatwindow {
	overflow: auto;
	height: 300px;
	width: 80%;
	border: 1px solid #f0f0f0;
}

.chatwindowinput {
	width: 80%;
	float: left;
}

div.chat {
}

span.chatauthor {
	font-weight: bold;
}

span.chatauthorToMe {
	font-weight: bold;
	color: #ffaa00;
}

span.chatauthorFromMe {
	font-weight: bold;
	color: #aa00aa;
}

span.chatcontent {
}

span.chatdate {
	color: gray;
}

.whiteboardThumbnailImage {
	border: 1px solid #f0f0f0;
};

.whiteboardEditor {
	border: 3px solid #f0f0f0;
};

body {
	background-color: #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	margin : 0;
}