﻿.S0 {
	color: #808080;
}
.S1 {
	color: #007F00;
}
.S2 {
	color: #007F00;
}
.S3 {
	color: #3F70AA;
}
.S4 {
	color: #007F7F;
}
.S5 {
	font-weight: bold;
	color: #00007F;
}
.S6 {
	color: #7F007F;
}
.S10 {
	font-weight: bold;
	color: #000000;
}
.S15 {
	color: #3F70AA;
}
.S18 {
	color: #804020;
}
span {
	font-family: Verdana;
	font-size: 10pt;
}

S50 {
    font-family: Times New Roman;
    color: #000000;
    font-size: 11pt;
}
.S51 {
    color: #000080;
}
.S53 {
    color: #008080;
}
.S56 {
    color: #7F007F;
}
.S58 {
    color: #800080;
}
.S510 {
    font-family: Times New Roman;
    color: #800080;
    font-size: 11pt;
}
.S511 {
    color: #000080;
}
.S521 {
    color: #000080;
}
.S522 {
    font-weight: bold;
    color: #000080;
}
.S523 {
    color: #006600;
}
.S524 {
    color: #800000;
}

.code{
    padding:0.5em;
    border:solid;
    border-width:1px;
    margin-left:1em;
    margin-top:2em;
    margin-bottom:1em;
}

code{
    font-size:115%;
}
